* {
  margin: 0;
  padding: 0;
}

.topheader {
  border-top: #0787d4 5px solid;
  background: #21c2f8;
}

.iconsocial a {
  color: white;
  display: inline-block;
  padding: 0 8px;
}
.iconsocial {
  padding-top: 13px;
}

.nut .btn-outline-secondary {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: white;
  line-height: 19px;
  padding: 8px 13px;
  border-radius: 1px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nut .btn-secondary {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 19px;
  padding: 8px 13px;
  border-radius: 1px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  color: #a1b1bc;
}

.mtrenphai li.nav-item a.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #2c3e50;
  padding: 40px 20px 45px 20px;
  border-top: 5px solid transparent;
  text-transform: uppercase;
}

.mtrenphai li.nav-item.active a.nav-link {
  color: #1abc9c;
  border-color: #1abc9c;
}

.mtren1 {
  margin: 0 !important;
  padding: 0 !important;
}

#carouselExampleControls {
  height: 500px;
  overflow: hidden;
}

#carouselExampleControls .carousel-item .carousel-caption {
  bottom: 56%;
  text-align: left;
}

#carouselExampleControls h3 {
  font-size: 50px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  color: #1a1c27;
}
#carouselExampleControls h5 {
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  color: #222533;
}
#carouselExampleControls ul.list1 {
  list-style: none;
}
#carouselExampleControls ul.list1 li {
  margin-right: 10px;
}

.nutslide .carousel-control-prev,
.nutslide .carousel-control-next {
  background: none;
  border: 1px solid white;
  width: 50px;
  height: 50px;
  top: 50%;
}

.khoigioithieu .cottrai h1 {
  color: #2c3e50;
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  line-height: 50px;
}

.khoigioithieu {
  color: #a1b1bc;
  line-height: 24px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.khoigioithieu .cotphai .panel-title a {
  color: #2c3e50;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 24px;
  border: 1px solid #eceef0;
  display: block;
  padding: 17px 19px;
}

@media (max-width: 567px) {
  .nut {
    text-align: center;
    margin-top: 20px;
  }
  .iconsocial {
    text-align: center;
  }
  .mtrenphai li.nav-item a.nav-link {
    padding: 10px 5px;
  }
}
