* {
  margin: 0;
  padding: 0;
}

.logo {
  height: 50px;
}

.menu-top {
  background-color: transparent;
  position: fixed;
  top: 0px;
  z-index: 100;
}

.chuamenu {
  position: fixed;
  top: 0px;
  z-index: 100;
}

.sang {
  float: right;
}

.nav-link {
  color: #b3b3b3;
  padding: 90px 15px 0 15px;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Work Sans';
}
